<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tapbuy>
            <general>
                <enabled>0</enabled>
                <mobile_redirection_enabled>1</mobile_redirection_enabled>
                <desktop_redirection_enabled>1</desktop_redirection_enabled>
            </general>
            <api>
                <api_url>https://api.tapbuy.io</api_url>
                <locale_format>long</locale_format>
            </api>
            <gifting>
                <enabled>0</enabled>
            </gifting>
        </tapbuy>
    </default>
</config>
