<?xml version="1.0"?>
<!-- di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
    <!-- Preferences -->
    <preference for="Tapbuy\RedirectTracking\Api\TapbuyServiceInterface" type="Tapbuy\RedirectTracking\Model\Service" />
    
    <!-- Virtual Types -->
    <virtualType name="Tapbuy\RedirectTracking\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">tapbuy</argument>
            <argument name="handlers" xsi:type="array">
                <item name="tapbuy_handler" xsi:type="object">Tapbuy\RedirectTracking\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Service Interface -->
    <type name="Tapbuy\RedirectTracking\Model\Service">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- Inject custom logger into the Helper -->
    <type name="Tapbuy\RedirectTracking\Helper\Data">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Logger\Logger</argument>
        </arguments>
    </type>
</config>